.recent-blog-posts-section {
  padding: 4rem 6rem;
  background-color: #f6f6f6;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.section-hr {
  width: 10%;
  margin: 1rem auto;
  border: none;
  border-top: 2px solid #008374;
}

.section-text {
  color: #9b9b9b;
  text-align: center;
}

.blog-posts-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.blog-post {
  width: calc(33.33% - 2rem);
  background-color: #fff;
  /* padding: 2rem; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post-image {
  margin-bottom: 1rem;
  width: 100%;
}

.blog-post-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.blog-post-title {
  font-size: 1rem;
  color: #9b9b9b;
  padding: 0rem 1rem;
 
}

.blog-post-about {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0rem 1rem;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0rem 1rem;
}

.author-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-name {
  font-weight: bold;
}

.post-date {
  color: #9b9b9b;
}

@media screen and (max-width: 700px) {
  .recent-blog-posts-section {
    padding: 1rem;
  }
  .blog-post {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 700px) {
  .recent-blog-posts-section {
    padding: 1rem;
  }
  .blog-post {
    width: calc(100% - 2rem);
  }
}